<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to Angular</h1>
  <br>
  <!--<app-my-component></app-my-component>-->
  <h1>Interpolation Example</h1>
  <b>
    My name : {{name}}
    <br><br>
    My age : {{age}}
    <br><br>
    Email : <input type="text" value="{{email}}">
    <br><br>
    Addition:{{getAddition(10,20)}}
    <br><br>
  </b>
  <h1>Property Binding Example</h1>
  <font [color] = "txtcolor">
  My Name : <input type="text" [value] = "name">
  <br><br>
  My Age : <input type="text" [value] = "age">
  <br><br>
  My Email : <input type="text" [value] = "email">
  <br><br>
  Addition : <input type="text" [value] = "getAddition(10,20)">
  <br>
  <img [src]="imgpath" width="200" height="160">
</font>
<h1>Event Binding Example</h1>
<button onclick="changeName()">Change name</button>
<br><br>
<button onclick="changeEmail()">Change email</button>
<h1>Two way binding Example</h1>
Enter your first name <input type = "text" [(ngModel)] = "fname">
<br>
<b>Welcome {{fname}}</b>
</body>
</html>